.selected-tile {
  background-color: rgb(92, 71, 15);
  color:white
}

.dark .react-calendar {
  background: black;
  color: white;
}

.dark .react-calendar__navigation button:disabled {
 background: black;
}
.dark .react-calendar__navigation button:enabled:hover,
.dark .react-calendar__navigation button:enabled:focus {
 background: black;
}

.dark .react-calendar__tile:disabled {
  opacity: 0.7;
  filter: brightness(50%);
}
